<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">CODEWAR</a>    

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        {% if session["logged_in"] %}
        <li class="nav-item">
          <a class="nav-link" href="/logout">Çıkış</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/login">Giriş</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Kayıt Olun</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

