/* custom.css */

body {
    background-color: #fcc9db; /* Arka plan rengi */
    font-family: Book Antiqua, sans-serif; /* Yazı tipi */
    text-align: center; /* Metin hizalama */
    padding-top: 40px; /* Sayfanın üstündeki boşluk */
}

h1 {
    color: #333; /* Başlık rengi */
    font-size: 46px; /* Başlık boyutu */
    margin-bottom: 30px; /* Başlık altındaki boşluk */
}

form {
    background-color: #f1a7c3; /* Form arka plan rengi */
    border-radius: 8px; /* Form kenar yuvarlatma */
    padding: 20px; /* Form içeriği ile kenar arasındaki boşluk */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Form gölgesi */
    width: 300px; /* Form genişliği */
    margin: 0 auto; /* Sayfa ortalaması */
}

label {
    display: block; /* Etiketleri blok element yap */
    text-align: left; /* Etiket metnini sola hizala */
    margin-bottom: 10px; /* Etiketler arası boşluk */
    color: #555; /* Etiket metni rengi */
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 30px); /* Input genişliği */
    padding: 10px; /* Input içeriği ile kenar arasındaki boşluk */
    margin-bottom: 20px; /* Inputlar arası boşluk */
    border: 1px solid #ccc; /* Input kenar çizgisi */
    border-radius: 4px; /* Input kenar yuvarlatma */
}

input[type="submit"] {
    width: 100%; /* Gönder butonu genişliği */
    padding: 15px; /* Gönder butonu içeriği ile kenar arasındaki boşluk */
    background-color: #f862a3; /* Gönder butonu arka plan rengi */
    color: #fff; /* Gönder butonu metin rengi */
    border: none; /* Gönder butonu kenar çizgisi yok */
    border-radius: 4px; /* Gönder butonu kenar yuvarlatma */
    cursor: pointer; /* Gönder butonuna tıklandığında el işareti göster */
    transition: background-color 0.3s ease; /* Gönder butonu arka plan rengi geçişi */
}

input[type="submit"]:hover {
    background-color: #b30051; /* Gönder butonu üzerine gelindiğinde arka plan rengi */
}
